rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ---------- helperst start ----------
    function isAnyAuthenticated() {
      return request.auth != null;
    }
    // ---------- helperst end ----------

    match /{document=**} {
      allow read: if true;
    }

    match /concert/{document=**} {
      allow read: if true;
      allow write: if isAnyAuthenticated();
    }

    match /orchestra/{document=**} {
      allow read: if true;
      allow write: if isAnyAuthenticated();
    }
  }
}
